@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{ box-sizing: border-box}
body
{
	background-color:#D4D4D4 ;
	color: #373737;
	font-family:"Montserrat",Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px
}
h1,h2
{
		color:#074257
}
h3
{
	 font-family: "Mea Culpa", cursive;
	font-size: 32px;
	font-weight:bolder;
	
}

a{ text-decoration:none}
ul li
{
	list-style-image:url("../images/icon/icon-bullet.gif")
}

.col-1 { width: 8.33%}
.col-2 { width: 16.66%}
.col-3 { width: 25%}
.col-4 { width: 33.33%}
.col-5 { width:  41.66%}
.col-6 { width:  50%}
.col-7 { width:  58.33%}
.col-8 { width:  66.66%}
.col-9 { width: 75%}
.col-10 { width:  83.33%}
.col-11 { width:  91.66%}
.col-12 { width: 100%}
@media (min-width:600px)
{
	.col-md-1 { width: 8.33%}
	.col-md-2 { width: 16.66%}
	.col-md-3 { width: 25%}
	.col-md-4 { width: 33.33%}
	.col-md-5 { width:  41.66%}
	.col-md-6 { width:  50%}
	.col-md-7 { width:  58.33%}
	.col-md-8 { width:  66.66%}
	.col-md-9 { width: 75%}
	.col-md-10 { width:  83.33%}
	.col-md-11 { width:  91.66%}
	.col-md-12 { width: 100%}
}
@media (min-width:1000px)
{
	.col-lg-1 { width: 8.33%}
	.col-lg-2 { width: 16.66%}
	.col-lg-3 { width: 25%}
	.col-lg-4 { width: 33.33%}
	.col-lg-5 { width:  41.66%}
	.col-lg-6 { width:  50%}
	.col-lg-7 { width:  58.33%}
	.col-lg-8 { width:  66.66%}
	.col-lg-9 { width: 75%}
	.col-lg-10 { width:  83.33%}
	.col-lg-11 { width:  91.66%}
	.col-lg-12 { width: 100%}
}





[class*="col-"]
{
	padding: 15px;
	border: 1px solid red
}



.row{
	display: flex;
	flex-wrap: wrap
}
.img-100{ width: 100%; height: auto}
/*dieu khien container tuy theo thiet bi (phone/ ipad/pc)*/
.container
{
	width: 100%;
	margin: auto/* khien cho box 80% nay vao giua*/;
}
@media (min-width: 600px)
{
	.container	{		width: 90%;		
	}
}
@media (min-width: 1000px)
{
	.container	{		width: 80%;	
	}
}
/*--guideline cho text color*/


.text-primary {color: tomato}
.text-secondary{color:#3441B3}
.text-dark{color:#18C698}
.text-light{color:#DED839}
a.text-primary:hover{ color: #9A4446}
a.text-secondary:hover{color:tomato}

/*style mau nen background*/
.bg-primary{ background-color:tomato}
.bg-secondary{ background-color:#C3CA8C}
.bg-drank{ background-color:#18C698}
.bg-light{ background-color:#DED839}

/*---gióng text---*/
.text-center{ text-align:center}
.text-right{ text-align:right}
.text-justify{ text-align:justify}
.text-left{ text-align:left}
/*--------------------------*/


.overlay	

{
 width:100%;
 height:100%;
 background-color:rgba(151,130,131,0.6);
 position: fixed; /*khoá box 100% cao rộng tại vị trí left-top=0*/
left:0; top:0;
}


.quangcao
{ 
	postion: fixed;
	width:50%;
	height:80%;
	left:25%;
	top:10%;
	background:#fff;
	box-shadow: 0 0 50px #cc0
  
}



.overclosen-close
{
  postion: absolute;
	right:0;
	top:0;
	top:10%;
	background-color:rgba(201,189,189,1.00);
    padding:10px;
	border:none;
	cursor:pointer;	
}

#topbar i{ margin-left: 20px}
#topbar a:hover{color:tomato}
#topbar { display: none}
/*ẩn tobar tại phone và ipad-- tới pc mới bật lên*/
@media ( min-width:1000px){
	#topbar{display: block}
}
/*---- bat dau style cho nav-menu----*/
nav img.logo{ width:150px}
nav .bg-stogglerybtn-toggle
{
	position: absolute; right:5px; top:5px;
	background:#fff; border: none;
	cursor:pointer;
	padding:5px 10px
	
	}
nav ul
{
	list-style:none;
	margin:10px;
	padding:0
	}	
nav ul li { position: selative}
nav ul li a 
{
	color:white;
	display: block;
	border-bottom:1px solid #ddd;
	padding: 10px
		}
		
nav ul li a:hover
{
	background-color:rgba(7,66,77,1.00)
		
		}

